@model AppClient.CanchitaWS.Tarifa

@{

    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s12 m8 l12">
            <div class="card  white">
                <div class="card-content cyan lighten-4">
                    <h5 class=" center-align grey-text  text-darken-2">Editar Tarifa</h5>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12">
                            <div style="width:70% ; margin:0 auto;">
                                <div class="row">
                                    <div class="input-field col m6">
                                        <i class="mdi-action-schedule prefix"></i>
                                        @Html.TextBoxFor(model => model.HoraInicio, new { @maxlength = "5", @required = "required" })
                                        <label for="HoraInicio" class="active">Hora Inicio (ejm: 10:00)</label>
                                    </div>
                                    <div class="input-field col m6">
                                        <i class="mdi-action-alarm-add prefix"></i>
                                        @Html.TextBoxFor(model => model.HoraFin, new { @maxlength = "5", @required = "required" })
                                        <label for="HoraFin" class="active">Hora Fin (ejm: 11:00)</label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-payment prefix"></i>
                                        @Html.TextBoxFor(model => model.Precio, new { @maxlength = "10", @required = "required" })
                                        @Html.LabelFor(model => model.Precio, new { @class = "active" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.Estado)
                                @Html.HiddenFor(model => model.Id)
                                <div class="row">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                                Guardar
                                                <i class="mdi-content-send right"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


