@model List<AppClient.CanchitaWS.DetalleReserva>

@{
    Layout = "~/Views/Shared/_LayoutAdmind.cshtml";
    double montoTotal = 0;    
}

    <h3 class="center-align">Detalle de la  Reserva</h3>
    <input type="text" id="dia" name="dia" value="@Session["diareserva"].ToString()" disabled />

    <table class="striped">
        <thead>
            <tr>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(it => it[i].HoraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(it => it[i].HoraFin)
                    </td>
                    <td>
                        @Html.DisplayFor(it => it[i].Precio)
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "EliminarDetalle", new { id = @Model[i].Tarifa.Id })
                    </td>
                </tr>
                {
                    montoTotal = montoTotal + @Model[i].Precio;
                }

                @Html.HiddenFor(it => it[i].Tarifa.Id)
                @Html.HiddenFor(it => it[i].HoraFin)
                @Html.HiddenFor(it => it[i].Precio)
                @Html.HiddenFor(it => it[i].HoraFin)

            }
        </tbody>
    </table>
    <h1>Monto total = @montoTotal</h1>
   
    <button class="center-block btn-floating  waves-effect waves-light btnPagar" data-id="@montoTotal" title=" pagar"><i class="mdi-image-edit tiny"></i></button>





<!-- Modal Pagar -->
<div id="modalPagar" class="modal">
    <div class="modal-content" id="modal-content">
        <!--View Pagar-->
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Reserva/Reserva.js"></script>
}