@model IEnumerable<AppClient.CanchitaWS.DetalleReservaCompletoxUsuario>

@{
    ViewBag.Title = "verDetalleXReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style type="text/css">
        table {
            background-color: whitesmoke;
            margin-left: 10%;
            width: 80%;
        }
    </style>
}

<h2 style="text-decoration:underline;font-family:'Times New Roman', Times, serif ; color:green; text-align:center">Detalle de la Reserva</h2>

<h4 style="font-family:Tahoma;">
    @Html.ActionLink("Volver <--", "verlistaReservasxCliente")
</h4>
<table class="table-of-contents">
    <tr class="row green ">
        <th>
            @Html.DisplayNameFor(model => model.DescripcionCampo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagencampo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionSede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionSede)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.horaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarifa)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr  class="row green-text">
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCampo)
        </td>
        @{ var imagen = string.Empty;
         if (item.imagencampo != null)
         {
             var base64 = Convert.ToBase64String(item.imagencampo);
             imagen = string.Format("data:image/jpg;base64,{0}", base64);
         }
        }
        <td>
        <img class="circle" width="100" height="70" src="@Html.DisplayFor(modelItem => imagen)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionSede)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionSede)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaInicio)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.horaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarifa)
        </td>
    </tr>
}

</table>
