@model IEnumerable<AppClient.CanchitaWS.Reserva>

@{
    ViewBag.Title = "verlistaReservasxCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style type="text/css" >
        table{
            background-color:whitesmoke;
            margin-left:10%;
            
            width:80%;
        }
    </style>
}
<div class="container">

    <h2 style="color:green;text-align:center;text-decoration:underline;font-family:'Times New Roman', Times, serif">Mis Reservas</h2>


    <div style="width:60%; margin:0 auto;">
        <a class="waves-effect waves-light btn blue" href="/Reservas">Realizar Una reserva</a>
        <a class="waves-effect waves-light btn blue" href="/Home" >Volver al inicio</a>
    </div>
    
    <br />
    <table class="table">
        <tr class="row green ">
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Fecha en la que va a jugar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                <label style="color:red; font-size:14px;">Número de Pago</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="row green-text">
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                @{
            if (item.Estado.Equals("Pendiente"))
            {
                <td>
                    <label style="color:red; font-size:14px;">P @item.Id</label>
                </td>
            }
            else
            {
                <td>
                    <label style="color:green; font-size:14px;">P @item.Id</label>
                </td>
            }
                }

                <td>
                    @Html.ActionLink("- Ver Detalle -", "verDetalleXReserva", new { id = item.Id })

                </td>
            </tr>
        }

    </table>

    <p class="center-align green-text">@ViewBag.Mensaje</p>
    <hr />
  

</div>