@model IEnumerable<AppClient.CanchitaWS.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="table-datatables">
    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>ACTUALIZAR</th>
                <th>ELIMINAR</th>

            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
             
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>ACTUALIZAR</th>
                <th>ELIMINAR</th>
            </tr>
        </tfoot>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        <button class="center-block btn-floating  waves-effect waves-light btnEdit" data-id="@item.Id" title="Editar campo"><i class="mdi-image-edit tiny"></i></button>
                    </td>
                    <td>
                        <button class="center-block btn-floating  waves-effect waves-light btnEliminar" data-id="@item.Id" title="Eliminar campo"><i class="mdi-content-clear tiny"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>