@model IEnumerable<AppClient.CanchitaWS.Sede>

@{
   
    Layout = "~/Views/Shared/_LayoutAdmind.cshtml";
}

<div id="basic-card" class="section">
    <div class="row">
        <div class="col s12 m10 l12" >
            <div class="row">
                <div class="col s12 m8 l12">
                    <div class="card  white">
                        <div class="card-content cyan lighten-4">
                            <h5 class=" center-align grey-text  text-darken-2">Gestor de Sedes</h5>
                            <div class="row" >
                                <div  style="margin:0 auto; width:58px">
                                    <a class="center-block btn-floating btn-large waves-effect waves-light  modal-trigger" id="btnNuevo" href="#modalCrear" title="Crear una nueva sede"><i class="mdi-content-add"></i></a>
                                </div>   
                            </div>
                        </div>
                        <div class="card-action">
                            <div id="table-datatables">

                                <div class="row">

                                    <div class="col s12 m8 l9 offset-l1">
                                        <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Descripcion)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Direccion)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Estado)
                                                    </th>

                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tfoot>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Descripcion)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Direccion)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Estado)
                                                    </th>

                                                    <th></th>
                                                </tr>
                                            </tfoot>

                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td style="font-size:0.8em;">
                                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                                        </td>
                                                        <td style="font-size:0.8em;">
                                                            @Html.DisplayFor(modelItem => item.Direccion)
                                                        </td>
                                                        <td style="font-size:0.8em;">
                                                            @Html.DisplayFor(modelItem => item.Estado)
                                                        </td>

                                                        <td>
                                                            <a href="/Sede/Edit/ @Html.DisplayFor(modelItem => item.Id)">
                                                                <i class="mdi-editor-border-color"></i><span></span>
                                                            </a>
                                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Crear -->
<div id="modalCrear" class="modal">
    <div class="modal-content" id="modal-content">
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>


   

@section scripts{
<script src="~/Scripts/Sede/Sede.js"></script>
}