@model List<AppClient.CanchitaWS.Tarifa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




@using (Html.BeginForm())
{
    <div>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/Home"><i class="material-icons">fast_rewind</i></a>
        ESCOJER OTRA FECHA
    </div>


    <input type="date" id="dia" name="dia" value="@ViewBag.dia" disabled />

    for (var i = 0; i < Model.Count(); i++)
    {
        <table>
            <tr>
                <td>
                    @Html.HiddenFor(it => it[i].Id)
                    @Html.HiddenFor(it => it[i].HoraInicio)
                    @Html.HiddenFor(it => it[i].Precio)
                    @Html.HiddenFor(it => it[i].HoraFin)
                </td>

                <td>
                    <div class="borrarHidden">
                        <div class="switch">
                            <label>
                                @Html.DisplayFor(it => it[i].HoraInicio)-@Html.DisplayFor(it => it[i].HoraFin)
                                @Html.CheckBoxFor(it => it[i].Checked, new { @id = @Html.DisplayFor(it => it[i].HoraInicio) })
                                <span class="lever"></span>

                            </label>
                        </div>


                    </div>
                </td>
            </tr>
        </table>


    }

    <button class="btn waves-effect waves-light" type="submit" name="action">
        Realizar reserva
        <i class="material-icons right">send</i>
    </button>

}

